.footer {
	display: flex;
	justify-content: space-between;
	background-color: var(--background-color) !important;

	// .footer__container

	&__container {
		
	}

	// .footer__logo

	&__logo {
		color:var(--light-color) !important;
		font-size: 40px;
		text-decoration: none;
	}

	// .footer__nav

	&__nav {
	
	}

	// .footer__burger

	&__burger {
	}
}

.nav {


	// .nav__list

	&__list {
		display: flex;
		gap:35px;
	}

	// .nav__item

	&__item {
	}

	// .nav__link

	&__link {
	}
}





