.footer {
	background-color: var(--background-color) !important;

	// .footer__container

	&__container {
		
	}
	&__content{
		
	}

	// .footer__logo

	&__logo {
		color:var(--light-color) !important;
		font-size: 40px;
		text-decoration: none;
	}

	// .footer__nav

	&__nav {
	
	
	}

	// .footer__burger

	&__burger {
	}
}

.nav {
	


	// .nav__list

	&__list {
	
	}

	// .nav__item

	&__item {
	}

	// .nav__link

	&__link {
	}
}





