.text {

    // .text__container

    &__container {
    }

    // .text__content

    &__content {
    }

    // .text__blocks

    &__blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 130px;
    }

    // .text__blocks-text

    &__blocks-text {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 133%;
        letter-spacing: -0.06em;
        text-align: center;
        color: var(--dark-color);
        max-width: 415px;
        margin: 0;
        margin-bottom: 20px;
    }

    // .text__blocks-subtitle

    &__blocks-subtitle {
    }

    // .text__blocks-button

    &__blocks-button {
    }
}
