.photo {

    // .photo__container

    &__container {
    }

    // .photo__content

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .photo__img

    &__img {
    }
}

