.photo {
    display: flex;
    justify-content: center;
    align-items: center;
  

    // .photo__container

    &__container {}

    // .photo__content

    &__content {
        padding: 130px 0px ;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        max-width: 770px;;
    }

    // .photo__img

    &__img {}

    // .photo__text

    &__text {
        text-align: center;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 48px;
        line-height: 133%;
        letter-spacing: -0.04em;
        color: var(--dark-color);
        max-width:100%;
       
    }
}