.company {

    // .list__container

    &__container {}

    // .list__content

    &__content {
        padding: 65px 0px 0px 0px;
    }

    // .list__title

    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        @include media-adaptiv-font(48, 24);
        line-height: 133%;
        letter-spacing: -0.04em;
        color: var(--dark-color);
        border-bottom: 1px solid var(--box-color);
        margin: 0;
        padding: 0px 0px 32px 0px;
    }

    // .list__list

    &__list {}

    // .list__subtitle

    &__item {
        position: relative;
        display: flex;
        gap: 32px;
        margin-bottom: 65px;
        @media(max-width:576px) {
            flex-direction: column;
            max-width: 360px;
    }

    &__box {
        display: flex;
        flex-direction: column;
    }

    &__texts {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 133%;
        letter-spacing: -0.06em;
        color: var(--dark-color);
        max-width: 600px;
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.19em;
        text-transform: uppercase;
        color: var(--object-color);
    }

    &__subtitles {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: var(--box-color);

    }

    &__button {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 28px;
        line-height: 143%;
        letter-spacing: -0.04em;
        text-align: center;
        color: var(--dark-color);
    }

    &__block {
        text-align: center;
    }

    &__buttons {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 24px;
        line-height: 133%;
        text-align: center;
        color: var(--box-color);
    }

    &__link {
        position: absolute;
        inset: 0;
      

    }
}