.documents {

    // .documents__container

    &__container {}

    // .documents__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 130px;
    }

    // .documents__blocks

    &__blocks {}

    // .documents__blocks-text

    &__blocks-text {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 133%;
        letter-spacing: -0.06em;
        text-align: center;
        color: var(--dark-color);
        max-width: 415px;
        margin: 0;
        margin-bottom: 20px;
    }

    // .documents__blocks-subtitle

    &__blocks-subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        text-align: center;
        color: var(--box-color);
        max-width: 405px;
        margin: 0;
        margin-bottom: 35px;
    }

    // .documents__blocks-button

    &__blocks-button {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;
        color: var(--dark-color);
        width: 180px;
        min-height: 60px;
        background-color: var(--accent-color);
    }
}