.hero {

    // .hero__containers

    &__containers {}

    // .hero__content

    &__content {
        min-height: 520px;
        background-color: var(--text-color);
    }


    // .hero__span

    &__span {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.19em;
        text-transform: uppercase;
        color: var(--dark-color);
    }

    // .hero__title

    &__title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 133%;
        letter-spacing: -0.06em;
        color: var(--dark-color);
    }

    // .hero__date

    &__date {}

    // .hero__important-word

    &__important-word {}

    // .hero__text

    &__text {}

    // .hero__button

    &__button {}
}