.list {

    // .list__container

    &__container {
    }

    // .list__content

    &__content {
        border-bottom: 1px solid var(--box-color);
    }

    // .list__title

    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 48px;
        line-height: 133%;
        letter-spacing: -0.04em;
        color: var(--dark-color);
    }

    // .list__list

    &__list {
    }

    // .list__subtitle

    &__subtitle {
    }
}
