.privacy {

    // .privacy__container

    &__container {}

    // .privacy__content

    &__content {}

    // .privacy__title

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 133%;
        letter-spacing: -0.04em;
        text-align: center;
        color: var(--dark-color);
    }

    &__box {
        padding: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 260px;
        background-color: var(--text-color);
    }
}