.document {
    padding-top: 45px;
    // .document__container

    &__container {
        display: flex;
        justify-content: center;
    }

    // .document__content

    &__content {
        display: flex;
        gap: 35px;
    }


    &__blocks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 325px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        background-color: var(--light-color);
        border: 1px solid var(--box-color);
        max-width: 300px;
        min-height: 230px;
        padding: 35px;

    }
    &__boxs {
        display: flex;
        flex-direction: column;
        background-color: var(--accent-color);
        border: 1px solid var(--box-color);
        max-width: 300px;
        min-height: 230px;
        padding: 35px;

    }

    &__imgs {
        max-width: 48px;
        min-height: 48px;
        background-color: var(--light-color);
    }

}