.header {
  background-color: var(--background-color)!important;

  // .header__container

  &__container {}

  // .header__logo

  &__logo {
    color: var(--light-color)!important;
    font-size: 40px;;
    text-decoration: none;
  }
  &__button{
    background-color: var(--light-color)!important;
    width: 180px;;
    min-height: 60px;;

  }

  // .header__burger

  &__burger {}

  .nav {

    // .nav__list

    &__list {}

    // .nav__item

    &__item {
     
    }

    // .nav__link

    &__link {
      gap:30px;
      color:var(--light-color)!important;
    }
  }
}