.main {
    padding-top: 85px;

    // .main__container

    &__container {
    }

    // .main__content

    &__content {
    }
    &__block{
        max-width: 710px;;
        min-height: 585px;;
    }
}

