.main {
    padding-top: 85px;

    // .main__container

    &__container {}

    // .main__content

    &__content {
        display: flex;
        flex-direction: row-reverse;
        position: relative;;
        
    }

    &__block {
      position: absolute;
        max-width: 710px;
        min-height: 585px;
        background-color: var(--light-color);
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.19em;
        text-transform: uppercase;
        color: var(--dark-color);
    }
}