.about {

    // .about__container

    &__container {}

    // .about__content

    &__content {
        display: flex;
        gap: 180px;
        padding: 95px 115px;
        background-color: var(--block-color);
        min-height: 470px;
        margin-bottom: 130px;
        ;

    }

    &__box-block {
        display: flex;
        gap: 155px;

    }

    &__box-box {
        display: flex;
        gap: 40px;
    }

    &__box-img-left {
        width: 48px;
        height: 48px;
    }

    &__box-img-right {
        width: 62px;
        height: 62px;
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.19em;
        text-transform: uppercase;
        color: var(--dark-color);
        margin: 0;
        margin-bottom: 15px;
        ;
    }

    &__block {}

    &__title {
        max-width: 345px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 133%;
        letter-spacing: -0.06em;
        color: var(--dark-color);
        margin: 0;
        margin-bottom: 15px;
        ;
    }

    &__subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: var(--box-color);
        max-width: 350px;

    }

    &__box-text {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 24px;
        line-height: 133%;
        color: var(--dark-color);
        max-width: 470px;
        margin: 0;
        margin-bottom: 120px;

    }

    &__blocks {
        display: flex;
       justify-content: center;
    }

    &__blocks-text {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 133%;
        letter-spacing: -0.06em;
        text-align: center;
        color: var(--dark-color);
        max-width: 415px;
    }

}