.about {

    // .about__container

    &__container {}

    // .about__content

    &__content {
        display: flex;
        gap: 180px;
        padding: 95px 115px;
        background-color: var(--block-color);
        min-height: 470px;

    }

    &__block {}

    &__title {
        max-width: 345px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 133%;
        letter-spacing: -0.06em;
        color: var(--dark-color);
    }

    &__subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: var(--box-color);
        max-width: 350px;
        
    }

    &__box-text {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 24px;
        line-height: 133%;
        color: var(--dark-color);
        max-width: 470px;;
    }
}