.about {

    // .about__container

    &__container {}

    // .about__content

    &__content {
        padding: 95px 115px;
        background-color: var(--block-color);
        min-height: 470px;
        
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 133%;
        letter-spacing: -0.06em;
        color: var(--dark-color);
    }
}