.about {

    // .about__container

    &__container {
    }

    // .about__content

    &__content {
        padding: 95px 115px;;
        background-color: var(--block-color);
        min-height: 470px;;
    }
}

