.box {

    padding-top: 80px;
    padding-bottom: 45px;;


    // .box__container

    &__container {
     
    }

    // .box__content

    &__content {
        display: flex;
        justify-content: space-between;
        gap:60px;
        margin-bottom: 95px;


    }
    &__list{
        display: flex;
    }



    &__rectangle {
        width: 845px;
        min-height: 25px;
        background-color: var(--accent-color);
    }

    &__text {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 28px;
        line-height: 143%;
        letter-spacing: -0.04em;
        color: var(--dark-color);
        margin: 0;
    }

    &__square {
        width: 285px;
        min-height: 25px;
        background-color: var(--object-color);
    }

    &__content_block {
        padding: 0 0 0 220px;
        display: flex;
    }


    &__text {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 133%;
        letter-spacing: -0.06em;
        color: var(--dark-color);
        max-width: 485px;
        margin: 0;
        margin-bottom: 15px;


    }

    &__subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: var(--box-color);
        margin-bottom: 15px;




    }

    // .box__block

    &__block {
        display: flex;
        flex-direction: column;
        width: 1280px;
        padding: 95px 80px;
        min-height: 530px;
        background-color: var(--text-color);
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.19em;
        text-transform: uppercase;
        color: var(--dark-color);
        margin: 0;
        margin-bottom: 25px;

    }

    &__button {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 178%;
        color: var(--object-color);
    }

}