.list {

    // .list__title-text

    &__title-text {
        text-align: center;
        margin: 0;
        margin-bottom: 50px;

    }

    // .list__list

    &__list {
        display: flex;
        justify-content: space-between;
    }

    // .list__item

    &__item {
    }

    // .list__box

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--light-color);
        border: 1px solid var(--box-color);
        max-width: 300px;
        min-height: 230px;
        padding: 35px;
    }

    // .list__img

    &__img {
        max-width: 130px;
        min-height: 130px;
    }

    // .list__texts

    &__texts {
    }

    // .list__subtitle-text

    &__subtitle-text {
    }

    // .list__icon

    &__icon {
    }

    // .list__svg

    &__svg {
        max-width: 160px;
        max-height: 32px;

    }

    // .list__subtitle-texts

    &__subtitle-texts {
    }

    // .list__item-pen

    &__item-pen {
    }

    // .list__pen

    &__pen {
    }

    // .list__texts-title

    &__texts-title {
    }
}
.list-reset {
}
