:root {
	// base
	--font-family: "Inter", "sans-serif";
	--content-width: 1400px;
	--container-offset: 15px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--light-color: #fff;
	--dark-color: #000;
	--accent-color: #FFFF00;
	--text-color: 	#A020F0;
	--box-color:	#A9A9A9;
	--background-color:#232536;
}